*.sdf
*.suo
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/CL.read.1.tlog
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/CL.write.1.tlog
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/HuntingBrave_server.lastbuildstate
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/cl.command.1.tlog
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/link.command.1.tlog
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/link.read.1.tlog
HuntingBrave_server/Debug/HuntingB.088756C9.tlog/link.write.1.tlog
HuntingBrave_server/Debug/vc120.idb
Debug/
onlineInfo.txt
README.md
HuntingBrave_client/IEX2010.v12.suo
HuntingBrave_server/HuntingBrave_server.VC.db
